h1, h6, h3 { 

    color:#a87dcb;
}

.w3-bar-item {

    color: #a87dcb
}

.w3-button:hover {
    color: #000!important;
    background-color:#a87dcb!important
}

.w3-large {
    
    Color: #a87dcb;
}

.city {
    padding: 20px; 
}

.mySlides {display:none;}